@media only screen and (min-width:200px) and (max-width:670px){
    .logo_image{width:100%;position: relative;display:inline-block;}
    .sabrang_date{position:absolute;left:50%;transform:translate(-50%,-150%);top:1%;}
    .poster{width:80%;margin-top:10%;margin-left:10%;margin-bottom:10%;}

    .div1{
        float:left;
        position: relative;;
        margin-top:20%;
        background-color:rgba(0,0,0,40%);
        width:100%;
    }
}

@media only screen and (min-width:700px) and (max-width:959px){
    .logo_image{position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);width:80%;}
        .sabrang_date{position:absolute;left:50%;transform:translate(-50%,-450%);top:1%;}
        .poster{width:60%;margin-top:10%;margin-left:20%}
}

@media only screen and (min-width:960px){
    .logo_image{position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);width:75%;}
        .sabrang_date{position:absolute;left:50%;transform:translate(-50%,-450%);top:10%;}
        .poster{width:60%;margin-top:6%;margin-left:20%}
        .bio-right-logo img{display: block;max-width: 30%;}
        .sabrang_countdown{position: fixed;right:-100px;transform:translate(-50%,-50%);bottom:15px;}

}

.register_text{
    position:absolute;top:2%;right:2%;
    z-index:2000;border-style:none;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding:10px;background-color:#62f1d2;
    font-weight: bold;
    cursor:pointer;color:#042433;font-size:18px;
    text-decoration:none;font-family:'Roboto Mono', monospace;}

    
    .textfield{
        width: 100%;
        margin: 0px 0px 18px 0px;
        box-sizing: border-box;
        border-color: #62f1d2;color: #fff;
        background-color:transparent;
        border-radius:3px;border-width: 1px;
        padding:5px;
        font-size:14px;
        color:white;
        }
        .submitButton{
        width: 30%;
        font-size:14px;
        padding:10px;
        margin-top:10px;
        margin-left:35%;
        box-sizing: border-box;
        border-color: #62f1d2;color: #fff;
        background-color:transparent;
        border-radius:3px;border-width: 1px;
        color:white;
        cursor:pointer;
        }
        .div1{
            float:left;
            position: relative;;
            top:10%;
            background-color:rgba(0,0,0,40%);
            padding:30px;
        }
        .list{
            width:100%;font-size:14px;
            box-sizing: border-box;
            border-color: #62f1d2;color: #fff;
            background-color:transparent;
            border-radius:3px;border-width: 1px;
            padding:5px;
        }
        .list > option{color: black}


.card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height:500px;
    margin-top:20%;
    background: #000;
    transition:0.5s
}
.card:hover .img-box{
    opacity:0.5;
}
.img-box > img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card .content{
    position: absolute;
    width:100%;
    height: 60%;
    bottom:-100%;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(0deg,#c21833,transparent);
}
.card:hover .content{
    bottom:0;
    transition: 0.6s
}
.card .content h3{
    color: #e2f345;
}        